@model DummyProjectSM.Models.PostModel
    @{ 
        Boolean isOwned = false;

        var service = new DummyProjectSM.Models.UserPostsModel();
        foreach (DummyProjectSM.Models.PostModel p in service.UserPosts)
        {
            if (p.PostID == Model.PostID)
            {
                isOwned = true;
            }
        }

    }

<div>
    @Model.PostTitle
</div>
<div class="gallerybox">
    @if (Model.IsVideo == false)
    {
        <img class="galleryimg" src="@Model.PostURL" />
    }
    else
    {
        <video class="galleryvid" controls="controls">
            <source src="@Model.PostURL" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    }
</div>
<div class="deledit">
    @if (User.IsInRole("Admin") || isOwned)
    {
        <button>
            <a href="/Home/Delete/@Model.PostID">
                DELETE
            </a>
        </button>
        <button>
            <a href="/Home/Update/@Model.PostID">
                EDIT
            </a>
        </button>
    }
</div>
